/* --- TABS ------------------------------------------*/
#tabBackground{
    -fx-background-color: -fx-pink;
}

#bodyBackground{
    -fx-background-color: -fx-eggshell;
}

.tabs{
    -fx-font-family: "Manrope ExtraBold";
    -fx-background-color: -fx-red;
    -fx-text-fill: -fx-eggshell;
    -fx-font-size: 11pt;
    -fx-border-radius: 10px 10px 0 0;
    -fx-background-radius: 10px 10px 0 0;
    -fx-cursor: hand;
}

#activeTab{
   -fx-background-color: -fx-eggshell;
   -fx-text-fill: -fx-red;
   -fx-z-index:1;
}


/* --- HEADINGS & TEXT -------------------------------*/
.subHeading{
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 12pt;
}

.subSubHeading{
    -fx-font-family: "Manrope SemiBold";
    -fx-font-size: 10pt;
}

#msgLabel{
    -fx-text-fill: -fx-red;
    -fx-font-family: "Manrope SemiBold";
}

/* --- SUBTAB BUTTONS-------------------------*/
.subTabBtn{
    -fx-font-family: "Manrope ExtraBold";
    -fx-font-size: 8pt;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: -fx-pink;
    -fx-text-fill: -fx-black;
    -fx-padding: 0.4em 0.666667em 0.333333em 0.666667em;
}

.subTabBtn:hover{
    -fx-background-color: -fx-dustyRose;
}

#activeBtn{
    -fx-background-color: -fx-dustyRose;
}

/* --- APP NOTIFICATION POPUP ------------------------*/
.notificationPopUp{
    -fx-background-color: -fx-eggshell;
    -fx-background-radius: 0 0 5px 5px;
    -fx-effect: dropshadow(three-pass-box, -fx-gray, 1, 1.0, 5, 5);
}

.notificationHeader{
    -fx-font-family: "Manrope ExtraBold";
    -fx-font-size: 12pt;
}

#upcomingAppsLabel{
    -fx-text-fill: -fx-red;
}

.notificationSubHeader{
    -fx-font-size: 9pt;
}

.notificationBold{
    -fx-font-family: "Manrope SemiBold";
}

/* --- TABLE -----------------------------------------*/
.table-view{
    -fx-background-color: -fx-eggshell;
    -fx-effect: dropshadow(three-pass-box, -fx-gray, 1, 1.0, 10, 10);
    -fx-border-style: solid;
    -fx-border-color: -fx-gray;
    -fx-border-width: 0.25px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-eggshell;
    -fx-background-color: -fx-black;
    -fx-border-radius: 5px 5px 0 0;
    -fx-background-radius: 5px 5px 0 0;
    -fx-border-style: solid;
    -fx-border-color: -fx-eggshell;
    -fx-border-width: 4px 2px 0 0;
    -fx-border-insets: -2px;
    -fx-padding: 3px 0 3px 0;
    -fx-font-family: "Manrope ExtraBold";
    -fx-font-size: 10pt;
}

.column{
   -fx-background-color: -fx-eggshell;
   -fx-border-radius: 5px 5px 0 0;
}

.centeredCol{
    -fx-alignment: center;
}

.column .filler{
   -fx-background-color: -fx-eggshell;
}

.table-row-cell:selected{
    -fx-background-color: -fx-dustyRose !important;
    -fx-table-cell-border-color: transparent;
    -fx-text-background-color: -fx-black;
}

.table-row-cell:focused .table-cell{
    -fx-font-family: "Manrope SemiBold";
}

.table-row-cell:selected .table-cell{
    -fx-background-color: -fx-dustyRose;
}

.table-row-cell:focused{
}


/* --- CONTACT COMBOBOX ------------------------------*/
.combo-box{
    -fx-border-style: solid;
    -fx-border-color: -fx-dustyRose;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 8.5pt;
}